body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #E18F2F;
    color: #fff;
    text-align: center;
    padding: 50px;
  }
  
  h1, h2, h3 {
    margin: 0;
  }
  
  section {
    padding: 50px;
  }
  p{
    max-width: 300px;
    text-align: center;
    display: inline-block;
  }
  ul {
    
    padding-left: 20px;
    list-style-type: none;
  }
  
  footer {
    background-color: #E18F2F;
    color: #fff;
    text-align: center;
    padding: 20px;
    
  }

  .sobremi {
    background-color: #1D7A8C;
    color: #fff;
    text-align: center;
  }


  .proyectos{
    background-color: #FFCE54;
    text-align: center;
  }
  .educacion{
    background-color: #1D7A8C;
    color: #fff;
    text-align: center;
  }
 header img{
    width: 100px; 
    height: 100px;
  }