body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #E18F2F;
    color: #fff;
    text-align: center;
    padding: 50px;
  }
  
  h1, h2, h3 {
    margin: 0;
  }
  
  section {
    padding: 50px;
  }
  
  ul {
    list-style-type: disc;
    padding-left: 20px;
  }
  
  footer {
    background-color: #FFCE54;
    color: #fff;
    text-align: center;
    padding: 20px;
  }

  .sobremi {
    background-color: #1D7A8C;
    color: #fff;
  }


  .projectos{
    background-color: #B3A369;
    color: #fff;
  }
  .educacion{
    background-color: #1D7A8C;
    color: #fff;
  }
 header img{
    width: 100px; 
    height: 100px;
  }